{% extends 'base.html' %}

{% block content %}
    <div class="registration">
        <h1>Реєстрація</h1>
        <br>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <span>Логін: </span>{{ form.username }}
            <h6>Має складатись з символів англійського алфавіту, цифр чи спеціальних символів</h6>
            <span>Пароль: </span>{{ form.password1 }}
            <h6>Ваш пароль не має бути схожим на логін</h6>
            <h6>Ваш пароль має складатися принаймні з 8 символів</h6>
            <h6>Ваш пароль не може складатися лише з цифр</h6>
            <span>Підтвердження паролю: </span>{{ form.password2 }}
            <h6>Уведіть пароль ще раз, для підтвердження</h6>
            <span>Статус: </span>{{ form.status }}
            <!--{{ form }}-->
            <input  type="submit" class="confirm">
        </form>
    </div>
{% endblock %}