{% extends 'base.html' %}
{% block content %}
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>
    {% if user.status == "T" %}
    <p>Код курсу: <b>{{ course.code }}</b></p>
    <a href="{% url 'c_overview' course.code %}">Журнал</a>
    {% endif %}
    <h3>Викладачі:</h3>
    <p>
    {% for teacher in teachers %}
        {{ teacher.full_name }}<br>
    {% endfor %}
    </p>
    <a href="{% url 'add_test' course.code %}">Створити новий тест</a>
    <hr>
    <h1>Активні тести:</h1>
    {% for test in tests %}
        <div style="border: 1px solid black; margin: 5px; padding: 5px;">
            <h3>{{ test.title }}</h3>
            <p>{{ test.description }}</p>
            <p>Проходження займе: {{ test.time_to_submit }}</p>
            <a href="{% url 'test' course.code test.id %}">
                {% if user.status == 'S' %}
                Перейти до виконання
                {% else %}
                Переглянути
                <a href="{% url 't_overview' course.code test.id %}">Переглянути оцінки</a>
                {% endif %}</a>
        </div>
    {% endfor %}
{% endblock %}