{% extends 'base.html' %}
{% block content %}
<div class="test-overview">
<h1>{{ course.title }}</h1>
<p>{{ course.description }}</p>
<table>
<tr>
    <th>Ім'я</th>
    <th>Група</th>
    {% for test in tests %}
        <th>{{ test.title }}</th>
    {% endfor %}
</tr>
{% for stud in students %}
    <tr>
        <th>{{ stud.student.full_name }}</th>
        <th>{{ stud.student.group.group_code }}</th>
        {% for mark in stud.marks %}
            <th>{{ mark }}</th>
        {% endfor %}
    </tr>
{% endfor %}
</table>
</div>
{% if page != 1 %}
    <a href="{% url 'c_overview' course.code %}?page={{page|add:-1}}">Назад</a>
{% endif %}
{% if page >= 4 %}
    <a href="{% url 'c_overview' course.code %}?page=1">1</a>
{% endif %}
{% if page > 4 %}
    ...
{% endif %}
{% if page >= 3 %}
    <a href="{% url 'c_overview' course.code %}?page={{page|add:-2}}">{{ page|add:-2 }}</a>
{% endif %}
{% if page >= 2 %}
    <a href="{% url 'c_overview' course.code %}?page={{page|add:-1}}">{{ page|add:-1 }}</a>
{% endif %}
<a href="#">{{ page }}</a>
{% if page <= pages|add:-1 %}
    <a href="{% url 'c_overview' course.code %}?page={{page|add:1}}">{{ page|add:1 }}</a>
{% endif %}
{% if page <= pages|add:-2 %}
    <a href="{% url 'c_overview' course.code %}?page={{page|add:2}}">{{ page|add:2 }}</a>
{% endif %}
{% if page < pages|add:-3 %}
    ...
{% endif %}
{% if page <= pages|add:-3 %}
    <a href="{% url 'c_overview' course.code %}?page={{pages}}">{{ pages }}</a>
{% endif %}
{% if page != pages %}
    <a href="{% url 'c_overview' course.code %}?page={{page|add:+1}}">Вперед</a>
{% endif %}
{% endblock %}