{% load static %}
<!DOCTYPE html>
<head>
    <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
    <title>IATEsts</title>
</head>
<body style="margin:0% 15%">
    <ul>
        <li><a href="{% url 'main' %}">IATESTS</a></li>
        {% if user.is_authenticated %}
        {% block auth_link %}
        <li><a href="{% url 'profile' %}">Профіль</a></li>
        {% endblock %}
        {% else %}
        <li><a href="{% url 'login' %}">Увійти до акаунту</a></li>
        {% endif %}
    </ul>
    User: {{ user }}
    <hr>

    {% block content %}
    {% endblock %}

</body>